*{
    padding:0;
    margin:0;
}
.nav
{
  width: 100%;
  height:10vh;
  margin: 1rem auto;
  padding:1rem;
  position: absolute;
}
nav ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
     
}
nav li:hover
{
  background-color: green;
  color: white;
}
nav a
{
  text-decoration:none;
  font-size: 1.2rem;
  font-weight:500;
  color:#fff;
  display: block;
  padding:0.5rem 1rem;
}
nav a:focus
{
  background-color: transparent;
  color:black;
}
.active
{
  background-color: orangered;
}
.logo
{
    flex-basis: 600px;
    text-align:center;
}
.logo:hover
{
    background-color: transparent;
    background-image: none;
}
.header
{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("ifree/Aimages.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.header img
{
    width: 250px;
}
.occupation
{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 50px;
    
}
.occupation-heading
{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.occupation-heading span
{
    color: orangered;
    font-size: 1rem;
}
.occupation-heading h3 
{
    font-size:2rem;
    font-weight:500;
}
.occupation-container
{
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 25px 0;
    flex-wrap:wrap;
    
}
.occupation-box
{
    width: 300px;
    margin: 25px;
    border: 1px solid rgba(0,0,0,0.3);
}
.occupation-img
{
    width:100%;
    height:auto;
}
.occupation-img img 
{
    width:100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
    
}
.occupatation-text
{
    padding: 25px;
    display: flex;
    flex-direction: column;
    
    background-color: rgb(241, 241, 241);
    
}
.occupatation-text span 
{
    color: orangered;
    font-size: 1rem;
}
.occupatation-text .occupation-title
{
    font-size:1rem;
    font-weight:600;
    color:black;
    
}
.occupatation-text .occupation-title:hover
{
    color: green;
    transition: all ease 0.1s;
    text-decoration: none;
    margin-bottom:10px;
    margin-top: 10px;
}
.occupatation-text p
{
    color: grey;
}
.occupatation-text a
{
    color:black;
}
.occupatation-text a:hover
{
    color: orangered;
    transition: all ease 0.1s;
}
.footer
{
    height: 50px;
    padding-left: 50%;
    margin-top:50px;
    background-image: linear-gradient(to right bottom, #6bd16f, #53deaf, #6ae7df, #a0ecf9, #d6f1ff, #e0eeff, #efe9ff, #fee5fa, #ffcee4, #ffb8bc, #ffa98a, #f3a453);
}




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































